<div class="container">
  <div class="row" style="padding-top: 30px;padding-bottom: 50px;">
    <h2 class="text-center">Enter Your Email For Secret Code</h2>

    <div class="col-md-4 col-md-offset-4">

      <%= form_with scope: :secret_code, url: sign_up_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => "form-control", :required => true, placeholder: "Your Email ID"%>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Send Secret Code", :class => "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
